/////////////////////////////////////-+++-/////////////////////////////////////////
// Main content area
/////////////////////////////////////-+++-/////////////////////////////////////////



.SiteMain {
	padding: 10vh 0;
}

.ArtistStatement {
	margin: 0 auto 10vh;
	padding: 0 10vw;
	max-width: 600px;

	@include mq($from: college) {
		width: 33.333%;
		padding: 0 15px;
	}

	h1 {
		border-bottom: 3px solid $text;
		display: inline-block;
		padding-bottom: 7px;
	}
}