/////////////////////////////////////-+++-/////////////////////////////////////////
// Work
/////////////////////////////////////-+++-/////////////////////////////////////////



.Work {
	position: relative;
	max-width: 440px;
	margin: 0 auto;
	
	@include mq($from: college) {
		display: flex;
		margin: 0 10px 20px;
		max-width: none;
	}
}

.Work__infoGroup {
	background: $text;
	@include u-absoluteBottomLeft(college);
	color: #fff;
	padding: 10px 13px;

	@include mq($from: college) {
			background: rgba(0,0,0,.25);
		left: 10px;
	}
}

.Work__title {
	@extend %u-smallTitle;
	margin-bottom: 0;

}

.Work__material {
	@extend %u-blockText;
	margin-bottom: 0;

}

.Work__pic {
	margin-bottom: 20px;

	@include mq($from: college) {
		margin: 0 10px;
		flex: 1;
	}
}