<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Colleges</title>
        <meta name="description" content="Contemporary Collages by Bill Brown">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/main.min.css">

        <link rel="icon" type="image/png" sizes="64x64" href="favicon.png">
        <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->

    </head>

    <body class="Page">

        <!--[if lte IE 9]>
        <div class="BrowseHappy">
            <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        </div>
        <![endif]-->

        <header class="SiteHeader" role="banner">
            <div class="SiteHeader__textGroup">
                <h1>Collages</h1>
            </div>
        </header>

        <main class="SiteMain" role="main">
            
            {{> body }}

        </main><!--/.main-->                                

        <footer class="SiteFooter" role="contentinfo">
            <div class="u-constrained">
            </div>
        </footer>

    </body>
</html>
